@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

* {
    max-width: 960px;
}

:root {
    --primary-color: #33222A;
    --secondary-color: #253C78;
    --primary-color--transparent: #33222A80;
    --secondary-color-transparent: #253C7880;
    --accent1-color: #EFB53B;
    --accent2-color: #FFEECF;

    --heading-font: 'Playwrite NG Modern', normal;
    --paragraph-font: 'Arial', sans-serif;

    --nav-background-color: #253C78;
    --nav-link-color: #EFB53B;
    --nav-hover-link-color: #FFEECF;
    --nav-hover-background-color: #33222A;
}

body {
    font-family: var(--paragrath-font);
    padding: 20px;
    color: var(--primary-color);
    background-color: var(--accent2-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

header {
    padding: 20px;
    height: 150px;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}

header img{
    width: 150px;
    height: auto;
}

p {
    padding: 25px;
    color: var(--primary-color);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-items: center;
    align-items: center;
    color: var(--accent2-color);
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero div{
    display: grid;
    position: relative;
    align-items: end;
}

.hero h1{
    position: absolute;
    top: 300px;
    background-color: var(--primary-color--transparent);
    width: 900px;
}

.hero img{
    display: block;
    position: absolute;
    top: 230px;
    width: 900px;
    height: auto;
}

.hero article{
    position: absolute;
    top: 400px;
    left: 70px;
    width: 800px;
    background-color: var(--secondary-color-transparent);
}

.hero article p {
    color: var(--accent1-color);
}

.hero article img {
    position: relative;
    top: 20px;
    right: 15px;
    width: 20%;
    height: auto;
    float: right;
}

.history {
    position: relative;
    display: grid;
    top: 620px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    justify-content: center;    
}

.history h2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.history img {
    height: 150px;
    width: auto;
}


.history p {
    grid-row: 1/3;
}

.adventure {
    position: relative;
    display: grid;
    top: 620px;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr;
}

.adventure h2 {
    grid-column: 1/6;
    grid-row: 1/2;
}

.adventure img{
    max-width: 150px;
    height: auto;
}

figure {
    margin: 0px;

}

.sociallinks img {
    position: relative;
    width: 50px;
    height: auto;
}

footer {
    background-color: var(--nav-background-color);
    position: relative;
    display: grid;
    top: 650px;    
    grid-template-columns: 3fr 1fr;
    justify-items: center;
}

footer p {
    color: var(--accent2-color);
}